version: "3.4"
services:
  delivery-info-service:
    image: inbobwetrust/delivery-info-service:loadtest
    container_name: delivery-info-service
    environment:
      - COMMAND_LINE_ARGS_BEFORE="-Dspring.data.mongodb.primary.database=inbobwetrust -Dspring.data.mongodb.uri=mongodb://localhost:27017 -DrestClient.proxy.host=http://localhost:8090"
      - COMMAND_LINE_ARGS_AFTER=--spring.profiles.active=loadtest
    ports:
      - "8888:8888"
    networks:
      - inbobwetrust

  mongo-primary:
    image: mongo
    container_name: mongo-primary
    ports:
      - "27017:27017"
    networks:
      - inbobwetrust
    healthcheck:
      test: echo 'db.runCommand({serverStatus:1}).ok'| grep 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 20s

  mock-relay-service:
    image: wiremock/wiremock
    container_name: wiremock-relay-service
    volumes:
      - ./wiremock/ __files:/home/wiremock/__files
      - ./wiremock/mappings:/home/wiremock/mappings
    ports:
      - "8090:8080"
    networks:
      - inbobwetrust

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command: --enable-feature=remote-write-receiver --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - inbobwetrust

networks:
  inbobwetrust:
    driver: bridge

